<!-- Section -->
<section class="section">

  <!-- Container -->
  <div class="container container--small">

    {# Include breadcrumbs. #}
    {% include '_includes/breadcrumbs' %}

    <!-- Article -->
    <article class="article">
      <header class="article__header">

        <!-- Title -->
        <h1 class="article__title">{{ entry.title }}</h1>
      </header>

      {# Fetch all matrix block types. #}
      {% for block in entry.articlesBody.all() %}
        {% if block.type == 'text' %}
          {{ block.text|parsedown }}
        {% endif %}
      {% endfor %}
    </article>
  </div>
</section>