{# Extend default template. #}
{% extends '_extends/default' %}

{# Assign values to entry's meta variables. #}
{% set title = entry.seoTitle %}
{% set description = entry.seoDescription %}

{# Start block. #}
{% block page %}
{%- cache -%}

  <!-- Section -->
  <section class="section">

    <!-- Container -->
    <div class="container">
      
      {# Create guides query. #}
      {% set guides = craft.entries.section('guides') %}

      <!-- Title -->
      <h2 class="section__title">{{ guides.one().section }}</h2>

      <!-- Row -->
      <div class="row">

        {# Fetch all entries as guide from guides. #}
        {% for guide in guides.level(1).limit(5).all() %}
          {% include 'guides/_guide' %}
        {% endfor %}
      </div>
    </div>
  </section>

{%- endcache -%}
{% endblock page %}